In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

%matplotlib inline

In [3]:
def get_data(week_nums):
    '''
    This function takes in week numbers, 
    reads each file corressponding to the week numbers
    puts each file as dataframe in a list and 
    finally creates single dataframe by concatenating all the dfs.
    '''
    url = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt"
    dfs = []
    for week_num in week_nums:
        file_url = url.format(week_num)
        dfs.append(pd.read_csv(file_url))
    return pd.concat(dfs)

week_nums = [170506,170513,170520,170527,170603,170610]
turnstiles_df = get_data(week_nums)

In [5]:
# Visualizing head of the data frame
turnstiles_df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/29/2017,00:00:00,REGULAR,6157740,2085315
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/29/2017,04:00:00,REGULAR,6157777,2085319
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/29/2017,08:00:00,REGULAR,6157810,2085353
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/29/2017,12:00:00,REGULAR,6157963,2085453
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/29/2017,16:00:00,REGULAR,6158212,2085529

In [11]:
turnstiles_df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

#### Note: 
As can be seen, the column name 'EXITS' includes a lot of unnecessary spaces in the name. We are going to strip the names from any spaces in the following code block.

In [14]:
turnstiles_df.columns = [column.strip() for column in turnstiles_df.columns]

In [15]:
turnstiles_df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

In [18]:
turnstiles_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1178678 entries, 0 to 197630
Data columns (total 11 columns):
C/A         1178678 non-null object
UNIT        1178678 non-null object
SCP         1178678 non-null object
STATION     1178678 non-null object
LINENAME    1178678 non-null object
DIVISION    1178678 non-null object
DATE        1178678 non-null object
TIME        1178678 non-null object
DESC        1178678 non-null object
ENTRIES     1178678 non-null int64
EXITS       1178678 non-null int64
dtypes: int64(2), object(9)
memory usage: 107.9+ MB